<!doctype html>
<html>
	<head>

		<html lang="en-US">
		<title>{{ .Title }} | React Rocket</title>
		<link rel="stylesheet" href="/css/main.css"/>

		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="manifest" href="/manifest.json">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff4400">
		<meta name="theme-color" content="#fff">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700" rel="stylesheet">
		<!-- Open Graph -->
		<meta property="og:type" content="business.business">
		<meta property="og:title" content="React Rocket">
		<meta property="og:image" content="/logo.svg">
		<meta property="og:url" content="/">

	</head>

	<body class="bgw">
