<div class="center jcc pb7 tw9 p3">
  <div class="df-desk aic">
    <h3 class="fs2 f2 lh4 mr4 f1 tw6 center tac">
      I have availability from August 2017 for <strong>react and react-native</strong> related work. <br /><a class="pointer" onclick="window.drift.api.openChat()"><em aria-hidden="true" class="fa fa-comment fs2"></em> Chat with me here</a> or hit me up <a onclick="window.drift.api.openChat()" href="https://twitter.com/juliandoesstuff">on twitter <span class="fa fa-twitter"></span></a> 
    </h3>

  </div>
</div>
