*{
  box-sizing: border-box;
}

:root{
  --lred: #D99A9A;
  --lblue: #5B74A6;
  --blue: #0455BF;
  --white: #F2F2F2;
  --red: #F2594B;
  --highlight: #feffba;
}


html{
  height:100%;
}

body{
  margin: 0;
  padding: 0;
  /*
  border-bottom: 1px solid rgba(255,2555,255,.3);
  border-right: 1px solid rgba(255,2555,255,.3);
  background-image: linear-gradient(to bottom, rgba(255,255,255,.3) 2px, transparent 1px), linear-gradient(to right, rgba(255,255,255,.3) 2px, transparent 1px);
  background-size: 2.2rem 2.2rem;
  */
  min-height: 100%;
  font-family: Lora, serif;
  color: #333;
}

.ffh{ font-family: 'Palanquin Dark', sans-serif; }
button{
  background: none;
  font-size: inherit;
  border: none;
  font-family: inherit;
  padding: 0;
}

.btn{
  padding: .5em;
  position: relative;
  color: #fff;
  border-radius: .3em;
  cursor: pointer;
  font-size: .8em;
  box-shadow: 0 3px 0px;
}

.btn:hover{
  top: -1px;
}

.btn:focus{
  top: 1px;
  box-shadow: 0 2px 0px;
}

h1,h2,h3,h4,h5,h6,p,small,ul,li,input{
  font-weight: normal;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  line-height: 1em;
}

ul{ list-style: none; }

.lh1{ line-height: 1.1em }
.lh2{ line-height: 1.3em }
.lh3{ line-height: 1.5em }
.lh4{ line-height: 1.7em }
.lh5{ line-height: 2.1em }

.p1{ padding: .5rem; }
.p2{ padding: .7rem; }
.p3{ padding: 1.3rem; }
.p4{ padding: 1.7rem; }
.p5{ padding: 2.6rem; }
.p6{ padding: 3.8rem; }
.p7{ padding: 5rem; }
.p8{ padding: 6rem; }
.p9{ padding: 9rem; }

.m1{ margin: .5rem; }
.m2{ margin: 1rem; }
.m3{ margin: 1.5rem; }
.m4{ margin: 2rem; }
.m5{ margin: 3rem; }
.m6{ margin: 4rem; }
.m7{ margin: 5rem; }
.m8{ margin: 6rem; }
.m9{ margin: 9rem; }




.mt1{ margin-top: .5rem; }
.mt2{ margin-top: 1rem; }
.mt3{ margin-top: 1.5rem; }
.mt4{ margin-top: 2rem; }
.mt5{ margin-top: 3rem; }
.mt6{ margin-top: 4rem; }
.mt7{ margin-top: 5rem; }
.mt8{ margin-top: 6rem; }
.mt9{ margin-top: 9rem; }

.mb1{ margin-bottom: .5rem; }
.mb2{ margin-bottom: 1rem; }
.mb3{ margin-bottom: 1.5rem; }
.mb4{ margin-bottom: 2rem; }
.mb5{ margin-bottom: 3rem; }
.mb6{ margin-bottom: 4rem; }
.mb7{ margin-bottom: 5rem; }
.mb8{ margin-bottom: 6rem; }
.mb9{ margin-bottom: 9rem; }

.mr1{ margin-right: .5rem; }
.mr2{ margin-right: 1rem; }
.mr3{ margin-right: 1.5rem; }
.mr4{ margin-right: 2rem; }
.mr5{ margin-right: 3rem; }
.mr6{ margin-right: 4rem; }
.mr7{ margin-right: 5rem; }
.mr8{ margin-right: 6rem; }
.mr9{ margin-right: 9rem; }

.ml1{ margin-left: .5rem; }
.ml2{ margin-left: 1rem; }
.ml3{ margin-left: 1.5rem; }
.ml4{ margin-left: 2rem; }
.ml5{ margin-left: 3rem; }
.ml6{ margin-left: 4rem; }
.ml7{ margin-left: 5rem; }
.ml8{ margin-left: 6rem; }
.ml9{ margin-left: 9rem; }




.pt1{ padding-top: .5rem; }
.pt2{ padding-top: 1rem; }
.pt3{ padding-top: 1.5rem; }
.pt4{ padding-top: 2rem; }
.pt5{ padding-top: 2.8rem; }
.pt6{ padding-top: 3.57rem; }
.pt7{ padding-top: 5rem; }
.pt8{ padding-top: 6rem; }
.pt9{ padding-top: 9rem; }

.pb1{ padding-bottom: .5rem; }
.pb2{ padding-bottom: 1rem; }
.pb3{ padding-bottom: 1.5rem; }
.pb4{ padding-bottom: 2rem; }
.pb5{ padding-bottom: 3rem; }
.pb6{ padding-bottom: 4rem; }
.pb7{ padding-bottom: 5rem; }
.pb8{ padding-bottom: 6rem; }
.pb9{ padding-bottom: 9rem; }

.pr1{ padding-right: .5rem; }
.pr2{ padding-right: 1rem; }
.pr3{ padding-right: 1.5rem; }
.pr4{ padding-right: 2rem; }
.pr5{ padding-right: 3rem; }
.pr6{ padding-right: 4rem; }
.pr7{ padding-right: 5rem; }
.pr8{ padding-right: 6rem; }
.pr9{ padding-right: 9rem; }

.pl1{ padding-left: .5rem; }
.pl2{ padding-left: 1rem; }
.pl3{ padding-left: 1.5rem; }
.pl4{ padding-left: 2rem; }
.pl5{ padding-left: 3rem; }
.pl6{ padding-left: 4rem; }
.pl7{ padding-left: 5rem; }
.pl8{ padding-left: 6rem; }
.pl9{ padding-left: 9rem; }



.fs1{ font-size: 1.2rem !important; }
.fs2{ font-size: 1.4rem !important; }
.fs3{ font-size: 1.6rem !important; }
.fs4{ font-size: 2rem !important; }
.fs5{ font-size: 3rem !important; }
.fs6{ font-size: 4rem !important; }

.fi{ font-style: italic; }

.fsl{ font-size: 1.5em !important; }
.fsh{ font-size: 2em !important; }

.fl{ float: left;}
.fr{ float: right;}

.b{ font-weight: bold; }

.tw1{ max-width: 10em; }
.tw2{ max-width: 15em; }
.tw3{ max-width: 20em; }
.tw4{ max-width: 25em; }
.tw5{ max-width: 30em; }
.tw6{ max-width: 35em; }
.tw7{ max-width: 40em; }
.tw8{ max-width: 50em; }
.tw9{ max-width: 60em; }
.tw10{ max-width: 75em; }

.ttu{ text-transform: uppercase; }
.ttl{ text-transform: lowercase; }
.ttc{ text-transform: capitalize; }

.bgw{ background: var(--white); }
.bgtw{ background: rgba(255,255,255, .8); }

.bgtc{ 
  background-image: linear-gradient(to right, rgba(255,255,255,.3) 2px, transparent 1px);

  background-size: 2.2rem 2.2rem;
}

.tac{ text-align: center; }
.tal{ text-align: left; }
.tar{ text-align: right; }
.dib{ display: inline-block; }
.db{ display: block; }

.ts1{ text-shadow: 0px 5px 10px rgba(0,0,0,.45) }

.df{ display: flex; }
.fdr{ flex-direction: row; }
.fdc{ flex-direction: column; }
.aic{ align-items: center; }
.aisa{ align-items: space-around; }
.acsa{ align-content: space-around; }
.jcsb{ justify-content: space-between; }
.jcc{ justify-content: center; }

.f1{ flex: 1; }
.f2{ flex: 2; }
.f3{ flex: 3; }
.f4{ flex: 4; }
.f5{ flex: 5; }
.f6{ flex: 6; }

.h10{ height: 10%; }
.h20{ height: 20%; }
.h50{ height: 50%; }
.h70{ height: 70%; }
.h100{ height: 100%; }

.w10{ width: 10%; }
.w20{ width: 20%; }
.w50{ width: 50%; }
.w70{ width: 70%; }
.w100{ width: 100%; }


.br{ border-right: 1px solid; }
.bl{ border-left: 1px solid; }
.bb{ border-bottom: 1px solid; }
.bt{ border-top: 1px solid; }
.bo{ border: 1px solid; }

/* screen height */
.sh{ min-height: calc(100vh - 2em); }
.vam{ vertical-align: middle; }

.pf{ position: fixed;}
.pa{ position: absolute;}
.pr{ position: relative;}

.t0{ top: 0; }
.l0{ left: 0; }
.r0{ right: 0; }
.b0{ bottom: 0; }

.t1{ top: .3em; }
.t2{ top: .5em; }

.center{ margin-left: auto; margin-right: auto; }

.highlight{ background: var(--highlight); }
.tch{ color: #a5ffa4; }
.bgp{ background: var(--lblue); }

.round{ border-radius: 1.3em; }

.tcp{ color: var(--red); }
.tcb{ color: var(--blue); }
.tcw{ color: var(--white); }

a{
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid;
}

.arrow-up{ position: relative; }
.arrow-up:before{
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  content: '';
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid var(--lblue);
}

.bsib{
  box-shadow: inset 0 -40px 100px -40px var(--highlight);
}

.icon-link{
  border: none;
}

.transp-hover{
  opacity: 0.5;
  transition: 500;
}

.transp-hover:hover{
  opacity: 1;
}

.avatar{
  max-width: 100px;
  border-radius: 100px;
  overflow: hidden;
}

.tcblack{ color: #333; }

@media(min-width: 900px){ 
  .df-desk{
    display: flex;
  }
  .bl-desk{
    border-left: 1px solid;
  }
}

