{{ partial "post-head" . }}
<article class="df-desk center jcc pt7 tw9 p3">

  <div class="fdc jcc df center">
    <div class="ffh s4 tal logo mt2 mb5">
      <a class="block-link" href="/"><img alt="React Rocket (Logo)" width="70" src="/logo.svg"></a>
    </div>

    <div class="center tal ph3 pv4 mwf">
      <h1 class="fs6 lh-title title mb3">{{.Title}}</h1>

      <div class="flex justify-between grey-3 mb3 mt3">
        <datetime class="fs1 i">{{ .Date.Format "Mon, Jan 2, 2006" }}</datetime>
         - 
        <strong class="mt2 fs1">{{ .ReadingTime }} minute read</strong>
      </div>


      <div class="cms">
        <p class="mb5 mt4 fs4 lh3 bt bc-grey db pt4">{{ .Description }}</p>

        {{ partial "post-series" . }}

        <div class="blog-content fs2 tw8">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</article>
{{ partial "post-footer" }}
{{ partial "footer" . }}
