{{ partial "head" . }}

  <div class="bsib pl4 pr4">
    <div class="df fdc aic jcc sh df tac tw10 center pb6">
      <h1 class="ffh s4 tal logo mt5 mb5">
        <img alt="React Rocket (Logo)" width="200" src="logo.svg">
      </h1>

      <h1 class="rvl-1 b dib lh3 fs5">
        Hi, I'm Julian, I build stuff with React
        <img class="vam" width="100" alt="React Logo" src="react.svg">
      </h1>
      <small class="rvl-2 db lh4 fs1 mb6">
        I'm a <a title="Map of Brighton" href="https://www.google.com/maps/place/Brighton/">Brighton (UK)</a> based JavaScript consultant, and have <span class="highlight">availability from April 2017</span>
      </small>

      <div class="mb3">
        <ul class="tal rvl-3">
          <li class="tw5 lh3 fs2 pl7 pr mb3">
            <em aria-hidden="true" class="l0 pa fa fa-desktop fs5"></em>
            I help startups and small businesses build <strong>web interfaces that scale</strong>.
          </li>

          <li class="tw5 lh3 fs2 pl7 pr mb3">
            <em aria-hidden="true" class="l0 pa fa fa-mobile fs6 ml1"></em>
            I build mobile interfaces for <strong>iOS and Android</strong> with  <strong>react native</strong>.
          </li>

          <li class="tw5 lh3 fs2 pl7 pr mb3">
            <em aria-hidden="true" class="l0 pa fa fa-refresh fs5"></em>
            I provide hands-on development and consulting to <strong>modernize your legacy JavaScript</strong> codebase.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="tcw bgp arrow-up df-desk center jcc pt7 pb7">
    <div class="tw7 f1 pl6 pr6 mb5">
      <img class="vam avatar mb3" alt="Julian Krispel photo" src="julian.jpg">
      <h3 class="rvl-2 fs3 mb4 b">A little bit about myself</h3>

      <ul class="rvl-3">
        <li class="lh2 fs1 mb3">I’ve been contracting as a senior JavaScript developer for startups all over the globe for over 4 years.</li>
        <li class="lh2 fs1 mb3">At <a href="https://rainforestqa.com">Rainforest QA</a> (YC 14) I scaled a frontend team from 1 to 8 people.</li>
        <li class="lh2 fs1 mb3">I’ve been developing and maintaining a commercial React-based front-end for 2 years.</li>
<li class="lh2 fs1 mb3">I <a href="https://www.youtube.com/watch?v=gsoRScuV3VM">speak at conferences about nerdy stuff</a>.</li>
        <li class="lh2 fs1 mb3">I’m an <a href="https://github.com/juliankrispel">open source contributor.</a></li>
        <li class="lh2 fs1 mb3">I have a background in Design (Which can be quite useful when building interfaces).</li>
        <li class="lh2 fs1 mb2">I’m based in Brighton, UK.</li>
      </ul>
    </div>
    <div class="tw7 f1 pl6 pr6 bl-desk">
      <h3 class="rvl-4 fs4 mb3 b">Don't be shy!</h3>
      <p class="rvl-5 fs3 lh3">
        Whether you want to talk business or just chat, say hi! If I'm not currently online I’ll get back to you asap.
      </p>
      <ul class="mt3 rvl-6">
        <li class="tw5 lh3 fs2 pl5 pr mb3">
          <em aria-hidden="true" class="l0 pa fa fa-phone fs4"></em>
          <a class="tcw" href="callto:00447988116178">+44 7988 116 178</a>
        </li>
        <li>
          <button onclick="window.drift.api.openChat()" class="bgw btn fs1 mb4 tcblack b">
            <span class="mr1 fa fa-comment"></span>
            chat with me
          </button>

        </li>
        <li class="tw5 lh3 fs2 pl5 pr mb3">
          <em aria-hidden="true" class="l0 pa fa fa-envelope fs4"></em>
          <a class="tcw" href="mailto:julian@goodafternoon.co">julian@goodafternoon.co</a>
        </li>
        <li class="mt5">
          <a class="transp-hover icon-link pb1 pt1 lh1 fs3 mr2" href="https://twitter.com/juliandoesstuff"><span class="fa fa-twitter"></span></a>
          <a class="transp-hover icon-link pb1 pt1 lh1 fs3 mr2" href="https://uk.linkedin.com/in/julian-krispel-samsel-67487a1b"><span class="fa fa-linkedin"></span></a>
          <a class="transp-hover icon-link pb1 pt1 lh1 fs3 mr2" href="github.com/juliankrispel"><span class="fa fa-github"></span></a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Start of Async Drift Code -->
<script>
!function() {
  var t;
  if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0, 
  t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
  t.factory = function(e) {
    return function() {
      var n;
      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
    };
  }, t.methods.forEach(function(e) {
    t[e] = t.factory(e);
  }), t.load = function(t) {
    var e, n, o, i;
    e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"), 
    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js", 
    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
  });
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('skzwk2whptgt');
</script>
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script>
window.sr = ScrollReveal();
sr.reveal('.rvl-1', {delay: 100});
sr.reveal('.rvl-2', {delay: 400});
sr.reveal('.rvl-3', {delay: 700});
sr.reveal('.rvl-4', {delay: 1000});
sr.reveal('.rvl-5', {delay: 1200});
sr.reveal('.rvl-6', {delay: 1500});
// Analytics
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97035882-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- End of Async Drift Code -->
</body>
