{{ partial "head" . }}


  <div class="bsib pl4 pr4">
    <div class="df fdc aic jcc sh df tac tw10 center pb6">
      <h1 class="ffh s4 tal logo mt5 mb5">
        <img alt="React Rocket (Logo)" width="200" src="logo.svg">
      </h1>

      <h2 class="rvl-1 b dib lh3 fs5">
        Hi, I'm Julian, I build Interfaces with React
        <img class="vam" width="100" alt="React Logo" src="react.svg">
      </h2>
      <small class="rvl-2 db lh4 fs1 mb6">
        I'm a Brighton (UK) based JavaScript consultant, and have <span class="highlight">availability from April 2017</span>
      </small>

      <div class="mb3">
        <ul class="tal rvl-3">
          <li class="tw5 lh3 fs2 pl7 pr mb3">
            <em aria-hidden="true" class="l0 pa fa fa-desktop fs5"></em>
            I help startups and small businesses build <strong>web interfaces that scale</strong>.
          </li>

          <li class="tw5 lh3 fs2 pl7 pr mb3">
            <em aria-hidden="true" class="l0 pa fa fa-mobile fs6 ml1"></em>
            I build mobile interfaces for <strong>iOS and Android</strong> with  <strong>react native</strong>.
          </li>

          <li class="tw5 lh3 fs2 pl7 pr mb3">
            <em aria-hidden="true" class="l0 pa fa fa-refresh fs5"></em>
            I provide hands-on development and consulting to <strong>modernize your legacy JavaScript</strong> codebase.
          </li>
        </ul>
      </div>

      <a class="b mb4 mt3 fs1 bgp tcw btn p3" target="_blank" href="https://calendar.google.com/calendar/selfsched?sstoken=UURVZ1NpRUh6MUI3fGRlZmF1bHR8ZmJmN2E1ODBlMGZhMTdlN2YwZWZkODFhODk4MjM5ZmM">
        <em aria-hidden="true" class="mr1 fa fa-calendar fs3"></em>
        Book a free kick off meeting (30 min)
      </a>

    </div>
  </div>

  <div class="tcw bgp arrow-up df-desk center jcc pt7 pb7">
    <div class="tw7 f1 pl4 pr4 mb5">
      <img class="vam avatar mb3" alt="Julian Krispel photo" src="julian.jpg">
      <h3 class="rvl-2 fs3 mb4 b">A little bit about myself</h3>

      <ul class="rvl-3">
        <li class="lh2 fs1 mb3">I’ve been contracting as a senior JavaScript developer for startups all over the globe for over 4 years.</li>
        <li class="lh2 fs1 mb3">At <a href="https://rainforestqa.com">Rainforest QA</a> (YC 14) I scaled a frontend team from 1 to 8 people.</li>
        <li class="lh2 fs1 mb3">I’ve been developing and maintaining a commercial React-based front-end for 2 years.</li>
<li class="lh2 fs1 mb3">I <a href="https://www.youtube.com/watch?v=gsoRScuV3VM">speak at conferences about nerdy stuff</a>.</li>
        <li class="lh2 fs1 mb3">I’m an <a href="https://github.com/juliankrispel">open source contributor.</a></li>
        <li class="lh2 fs1 mb3">I have a background in Design (Which can be quite useful when building interfaces).</li>
        <li class="lh2 fs1 mb2">I’m based in <a title="Map of Brighton" href="https://www.google.com/maps/place/Brighton/">Brighton, UK.</a></li>
      </ul>
    </div>
    <div class="tw7 f1 pl4 pr4 bl-desk">
      <h3 class="rvl-4 fs4 mb3 b">Don't be shy!</h3>
      <p class="rvl-5 fs3 lh3">
        Whether you want to talk business or just chat, say hi! If I'm not currently online I’ll get back to you asap.
      </p>
      <ul class="mt3 rvl-6">
        <li class="tw5 lh3 fs1 pl5 pr mb3">
          <em aria-hidden="true" class="l0 pa fa fa-calendar fs3"></em>
          <a class="tcw" target="_blank" href="https://calendar.google.com/calendar/selfsched?sstoken=UURVZ1NpRUh6MUI3fGRlZmF1bHR8ZmJmN2E1ODBlMGZhMTdlN2YwZWZkODFhODk4MjM5ZmM">Book a free initial consultation (30 min)</a>
        </li>

        <li class="tw5 lh3 fs1 pl5 pr mb3">
          <em aria-hidden="true" class="l0 pa fa fa-phone fs4"></em>
          <a class="tcw" href="callto:00447988116178">+44 7988 116 178</a>
        </li>

        <li class="tw5 lh3 fs1 pl5 pr mb3">
          <em aria-hidden="true" class="l0 pa fa fa-comment fs4"></em>
          <a onclick="window.drift.api.openChat()" class="tcw pointer">
            chat with me
          </a>
        </li>

        <li class="tw5 lh3 fs1 pl5 pr mb3">
          <em aria-hidden="true" class="l0 pa fa fa-envelope fs3"></em>
          <a class="tcw" href="mailto:julian@reactrocket.com">julian@reactrocket.com</a>
        </li>
        <li class="mt5">
          <a class="transp-hover icon-link pb1 pt1 lh1 fs3 mr2" href="https://twitter.com/juliandoesstuff"><span class="fa fa-twitter"></span></a>
          <a class="transp-hover icon-link pb1 pt1 lh1 fs3 mr2" href="https://uk.linkedin.com/in/julian-krispel-samsel-67487a1b"><span class="fa fa-linkedin"></span></a>
          <a class="transp-hover icon-link pb1 pt1 lh1 fs3 mr2" href="https://github.com/juliankrispel"><span class="fa fa-github"></span></a>
        </li>
      </ul>
    </div>
  </div>

  {{ partial "blog" . }}
  {{ partial "footer" }}
